.container {
  padding: 30px 0;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.descriptionContainer {

}

.peopleContainer {
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contributorsContainer {
  min-width: 300px;
  width: calc(50% - 20px);
  margin: 0 10px;
}

.stargazersContainer {
  min-width: 300px;
  width: calc(50% - 20px);
  margin: 0 10px;
}

.backdrop {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
}
